apiVersion: apps/v1
kind: Deployment
metadata:
  name: javapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: javapp
  template:
    metadata:
      labels:
        app: javapp
    spec:
      containers:
        - name: javapp
          image: haneeshdevops/ecomapp:latest
          ports:
            - containerPort: 8084
          resources:
            limits:
              cpu: "1"
            requests:
              cpu: "0.5"
